*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.ticket{
    max-width: 100%;
}


.distanza{
    top: 72%;
    left: 55.8%;
    transform: translate(-50% , 50%);
}
#distanza::after{
    content: 'km';
}

.eta{
    top: 76.8%;
    left: 53%;
    transform: translate(-50% , 50%);
}

.prezzo{
    top: 81.5%;
    left: 55%;
    transform: translate(-50% , 50%);
}

